* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Works on Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #212529 #212529;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: inherit;
}

*::-webkit-scrollbar-thumb {
    background-color: #212529;
    border-radius: 20px;
    border: 3px solid white;
}

.conteudoapp {
    max-height: calc(100vh - 50px);
    overflow-y: auto;
}

#navbarapp {
    max-height: 50px;
    min-height: 50px;
}

#navbarapp > div > ul > li > a {
    font-size: 1.1em;
}

.conteudomain {
    margin: 0% 1% 1% 1%;
}

.breadcrumb {
    margin: 0;
}

@media (min-width: 700px) {
    #conteudoapp {
        max-height: calc(100vh - 50px);
        overflow-y: auto;
        min-width: 0;
        width: 100%;
    }
}
