* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Works on Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #246B85 white;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: inherit;
}

*::-webkit-scrollbar-thumb {
    background-color: #246B85;
    border-radius: 20px;
    border: 3px solid white;
}

nav>div>ul>li>a {
    font-size: 1.5em;
}

.contentall {
    margin: 2%;
}
